@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/_ViewStart.cshtml";
}

<div class="tabtitle" style=" width:100%;">
	    <ul id="mytab1">
		    <li class="active">调拨单编辑</li>
		    <li class="normal" onclick="javascript:window.location.href = '../Account/TrainList.aspx?action=add&hp_id=0';">培训系列图片列表添加</li>
	    </ul>
</div>
@*
单号															调出仓																			
																																		
调入仓									▽						日期																			
																																		
																						审核					保存					返回		
																																		
*@
 <div style="margin:0 auto; width:100% ;text-align:center;"> 
        <table width ="90%" style=" height:100%;">
           <tr>
        <td>单号</td>
        <td><input type="text" name="ChangeNO"/></td>
        <td>调出仓库</td>
        <td><input type="text" name="OutWareHouse"/></td>
    </tr>
    <tr>
        <td>调入仓库</td>
        <td><input type="text" name="InWareHouse"/></td>
        <td>是否审核</td>
        <td><select name="IsReview"></select></td>
    </tr>
    <tr>
        <td>日期</td>
        <td>
            <input type="text" name="ChangeDate"/>
        </td>
        <td>商品添加</td>
        <td><img src="" alt="" /></td>
    </tr>
            <tr>
                <td></td>
                <td></td>
                <td>
                <input type="submit" id="btnSave" value="保存" />
                <input type="button" id="btnCancel" value="取消" />
                </td>
            </tr>
        </table>
    </div>
    
    <div class="config" style=" width:100%;">
    <table class="ta" style=" text-align:center;">
      <tr>
        <th colspan="7" style="background: none repeat scroll 0% 0% rgb(102, 187, 255);"></th>
      </tr>
      <tr style=" height:20px;background: #eeeeff;"><td colspan="7"></td></tr>
      <tr style="background: #8899cc; font-size:13px; font-weight:bold; height:40px;"> 
     @*NO 商品编号 名称 分类 型号 价格 售价 颜色 数量 总价	
	*@
        <td style="background: #eeeeff; width:5%"></td>
  	    <td width="8%">No</td>
        <td width="10%">商品编号</td>
        <td width="10%">名称</td>
        <td width="10%">分类</td>
        <td width="10%">型号</td>
        <td width="10%">价格</td>
        <td width="10%">售价</td>
        <td width="10%">颜色</td>
        <td width="10%">数量</td>
        <td width="10%">总价</td>
        <td width="10%">&nbsp;</td>
        <td style="background: #eeeeff; width:5%"></td>
      </tr>
    </table>
    </div>
