@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_ViewStart.cshtml";
}


<div class="tabtitle" style=" width:100%;">
	<ul id="mytab1">
		<li class="active">调拨单</li>
		<li class="normal" onclick="javascript:window.location.href = '../Account/TrainList.aspx?action=add&hp_id=0';">培训系列图片列表添加</li>
	</ul>
</div>
<div>
<table>
    <tr>
        <td>单号</td>
        <td><input type="text" name="ChangeNO"/></td>
        <td>调出仓库</td>
        <td><input type="text" name="OutWareHouse"/></td>
    </tr>
    <tr>
        <td>调入仓库</td>
        <td><input type="text" name="InWareHouse"/></td>
        <td>是否审核</td>
        <td><select name="IsReview"></select></td>
    </tr>
    <tr>
        <td>日期</td>
        <td colspan="2">
        <input type="text" name="begintime"/>~<input type="text" name="endtime"/>
        </td>
        <td>
            <input type="button" id="btnSearch" value="检索"/>
        </td>
    </tr>
</table>
</div>
    <div class="config" style=" width:100%;">
    <table class="ta" style=" text-align:center;">
      <tr>
        <th colspan="7" style="background: none repeat scroll 0% 0% rgb(102, 187, 255);"></th>
      </tr>
      <tr style=" height:20px;background: #eeeeff;"><td colspan="7"></td></tr>
      <tr style="background: #8899cc; font-size:13px; font-weight:bold; height:40px;"> 
     @*NO			单号			调出仓库				调入仓库					
     是否审核					日期				审核者			备注	
	*@
        <td style="background: #eeeeff; width:5%"></td>
  	    <td width="8%">No</td>
        <td width="10%">单号</td>
        <td width="10%">调出仓库</td>
        <td width="10%">调入仓库</td>
        <td width="10%">是否审核</td>
        <td width="10%">日期</td>
        <td width="10%">审核者</td>
        <td width="10%">备注</td>
        <td width="10%">&nbsp;</td>
        <td style="background: #eeeeff; width:5%"></td>
      </tr>
    </table>
    </div>





