@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/_ViewStart.cshtml";
}


<div class="tabtitle" style=" width:100%;">
	    <ul id="mytab1">
		    <li class="active">调货方式管理管理</li>
		    <li class="normal" onclick="javascript:window.location.href = '../Account/TrainList.aspx?action=add&hp_id=0';">培训系列图片列表添加</li>
	    </ul>
    </div>
 <div style="margin:0 auto; width:100% ;text-align:center;"> 
        <table width ="90%" style=" height:100%;">
            <tr>
                <td>编码</td>
                <td style="text-align:left">
                    <input type="text" name="No" />
                </td>
            </tr>
            <tr>
                <td>名称</td>
                <td style="text-align:left">
                    <input type="text" name="Name" />
                </td>
            </tr>
            <tr>
                <td>备注</td>
                <td style="text-align:left">
                    <input type="text" name="detail" />
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                <input type="submit" id="btnSave" value="确定" />
                <input type="button" id="btnCancel" value="取消" />
                </td>
            </tr>
        </table>
    </div>