@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section navigation{
    @Html.ActionLink("首页", "Index", "Main", new { }, new { @class="house"})
}

    <div id="rightnow">
      <h3 class="reallynow">
            <span class="app_add">欢迎页面</span>
            <br />
        </h3>
    <br />
    <br />
    <br />
    <br />
    <br />
     <p style="text-align:center; font-weight:bold; font-size:25px;">欢迎使用服装销售管理系统</p>
	 </div>

